#style-switcher h2 a { background: #03A9F4 none repeat scroll 0 0 }


.social-link a {
	background: #03A9F4;
}
.menu-area {
	background: #03A9F4;
}
.section-title {
	background: #03A9F4;
}
a.about-button {
	background: #03A9F4;
}
.skill-area .progress-bar {
	background: #03A9F4;
}
.about-info ul li {
	border-bottom: 1px dashed #03A9F4;
}
.single-education i {
	color: #03A9F4;
}
.single-service i {
	color: #03A9F4;
}
.single-education:hover, .single-experience:hover {
	border: 1px solid rgba(3, 169, 244, .4);
}
.single-service:hover {
	border: 1px solid rgba(3, 169, 244, .4);
}
.testimonial-list:hover {
    border: 1px solid rgba(3, 169, 244, .4);
}
.work .filters li.active {
	background-color: #03A9F4;
}

.portfolio-caption {
	background: rgba(3, 169, 244, .8);
}

a.read-more {
background: #03A9F4;
}
.single-blog:hover {
    border: 1px solid rgba(3, 169, 244, .4);
}

.contact-form button {
	background: #03A9F4;
}
.footer-area {
	background: #03A9F4;
}
.scrollup {
	background-color: #03A9F4;
}
.work .filters li:hover {
    background-color: #03A9F4;
}